.notification-list{
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 1000;
}

.notification{
	background: #2ebd59;
	padding: 20px;
	margin-bottom: 10px;
	border-radius: 4px;
	opacity: 0.9;
	transition: opacity .2s;
}

.notification--error{
	background-color: #af3b3b;
}

.notification__text{
	margin: 0;
	font-size: 20px;
}

.notification.enter-start{
	opacity: 0;
	/*transform: translateX(200px);*/
}

.notification.leave{
	opacity: 0;
	/*transform: translateX(300px);*/
}